@import "tailwindcss";

@theme {
  --font-display: "Segoe UI", "sans-serif";
  --color-primary: #0f6cbd;
  --color-primary-light: #449ed9;
  --color-primary-dark: #09477e;
}
.e-progress-resize-gripper {
  display: none !important;
  pointer-events: none !important;
}

@import "@syncfusion/ej2-base/styles/fluent2.css";
@import "@syncfusion/ej2-buttons/styles/fluent2.css";
@import "@syncfusion/ej2-calendars/styles/fluent2.css";
@import "@syncfusion/ej2-dropdowns/styles/fluent2.css";
@import "@syncfusion/ej2-gantt/styles/fluent2.css";
@import "@syncfusion/ej2-grids/styles/fluent2.css";
@import "@syncfusion/ej2-inputs/styles/fluent2.css";
@import "@syncfusion/ej2-layouts/styles/fluent2.css";
@import "@syncfusion/ej2-lists/styles/fluent2.css";
@import "@syncfusion/ej2-navigations/styles/fluent2.css";
@import "@syncfusion/ej2-notifications/styles/fluent2.css";
@import "@syncfusion/ej2-popups/styles/fluent2.css";
@import "@syncfusion/ej2-richtexteditor/styles/fluent2.css";
@import "@syncfusion/ej2-treegrid/styles/fluent2.css";
